<div class="container">
<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Rules" %>
    <%= form.text_area :rules, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Rules (PDF)" %>
    <%= form.file_field :pdf_rules, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= form.label :box_picture %>
    <%= form.file_field :box_picture, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= form.label :components_pictures %>
    <%= form.file_field :images, multiple: true, class: "form-control-file" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>