<p id="notice"><%= notice %></p>

<h1 class="text-center">Games</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Box or board</th>
      <th scope="col">Components</th>
      <th scope="col">Rules</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <th scope="row"><%= game.name %></th>
        <td><%= image_tag game.box_picture.variant(resize: "100x100", type: :grayscale).processed %><br><%= link_to "Download", rails_blob_path(game.box_picture, disposition: 'attachment') %></td>
        <td><% game.images.each do |image| %>
          <%= image_tag(image.variant(resize: "100x100", type: :grayscale).processed) %><br><%= link_to "Download", rails_blob_path(image, disposition: 'attachment')%><br>
        <% end %></td>
        <td><%= game.rules %><br>
        <%= link_to "Download(PDF)", rails_blob_path(game.pdf_rules, disposition: 'attachment')%></td>
        <td><%= link_to 'Show', game, class: 'btn btn-outline-secondary btn-sm' %></td>
        <td><%= link_to 'Edit', edit_game_path(game), class: 'btn btn-outline-secondary btn-sm' %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
